<body style="background-color:powderblue;">
</body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="home">Sistema Livro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="container-fluid">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cadastros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="categoria/nova" class="dropdown-item" routerLinkActive="active" >Categoria</a>
              <a routerLink="editora/nova" class="dropdown-item" routerLinkActive="active">Editora</a>
              <div class="dropdown-divider"></div>
              <a routerLink="livro/nova" class="dropdown-item" routerLinkActive="active">Livro</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listar</a>
              <div class="dropdown-menu" aria-labelledby="dropdown09">
                <a routerLink="categoria" class="dropdown-item" routerLinkActive="active">Categorias</a>
                <a routerLink="editora" class="dropdown-item" routerLinkActive="active">Editoras</a>
                <a routerLink="livro" class="dropdown-item" routerLinkActive="active">Livros</a>
              </div>
            </li>
            <li class="nav-item active" *ngIf="!isAuth()">
              <a class="nav-link" routerLink="entrar">
                Login
              </a>
            </li>
            <li class="nav-item active" *ngIf="isAuth()">
                <a class="nav-link" (click)="onLogout()">
                Sair
                </a>
            </li>            
    </ul>
  </div>
</nav>
<br />
<div class="container">
  <router-outlet></router-outlet>
</div>