<h4>Listar categorias</h4>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Descrição</th>
        <td scope="col" colspan="2">Acão</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <th scope="row">{{ categoria.idCategoria }}</th>
        <td>{{ categoria.descricao }}</td>
        <td><a [routerLink]="['edit', categoria.idCategoria]" class="btn btn-primary">Editar</a></td>
        <td><a (click) = "deleteCategoria(categoria.idCategoria)" class="btn btn-danger">Deletar</a></td>
      </tr>
    </tbody>
  </table>
